<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__img">
                <img src="images/hero-bg.svg" alt="">
            </div>
            <div class="hero__text">
                <p class="hero__subtitle">Предзапись</p>
                <h1 class="hero__title">Обучение от топового SMM-агенства</h1>
                <p class="hero__seo">Руководитель: Бейсенова Динара</p>
                <p style="text-align: center;" class="hero__descr">
                    <strong>Анкета успешно заполнена</strong>
                </p>
                <p style="text-align: center;" class="hero__descr">
                    Перейти в телеграмм что бы принять участие в интенсиве и ранних продаж по кнопке ниже.
                    <br><br>Включите
                    уведомление что бы
                    не
                    пропустить информацию о интенсиве и старте продаж
                </p>
                <div class="feedback__btn hero__btn">
                    <a href="" class="modal__btn">Перейти в телеграмм канал</ф>
                </div>
            </div>
        </div>
    </div>
</section>